@{
    ViewData["Title"] = "Calculadora";
}

<h2>Calculadora</h2>

@using (Html.BeginForm())
{
    @Html.Label("Primeiro Valor:")<br/>
    @Html.TextBox("valor1", (double?)ViewBag.n1)<br/>
    @Html.Label("Segundo Valor:")<br />
    @Html.TextBox("valor2", (double?)ViewBag.n2)<br />

    <input type="submit" value="Calcular" />
    <br />
    @ViewBag.Resultado

}
