@model eventando.Models.Produto

@{
    ViewData["Title"] = "IncluirProduto01";
}

<h2> Incluir Produto - Parte 1</h2>
<div class="row">
    <div class="col-md-4"">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Codigo)
                @Html.EditorFor(m => m.Codigo)
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Descricao)
                @Html.EditorFor(m => m.Descricao)
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Preco)
                @Html.EditorFor(m => m.Preco)
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.DataFabricacao)
                @Html.EditorFor(m => m.DataFabricacao)
            </div>
            <br />
            <input type="submit" value="Enviar" />

        }
    </div>
</div>